@{
    ViewData["Title"] = "Index";
}

<style>
    .layui-layer-shade {
        display: none;
    }

    .layui-select-title input {
        width: 180px;
    }

    .top > div > .el-collapse-item__header {
        background-color: #E4E7ED;
        padding: 0 8px;
    }

    .middle > div > .el-collapse-item__header {
        background-color: #EBEEF5;
        padding: 0 8px;
    }

    .bottom > div > .el-collapse-item__header {
        background-color: #F2F6FC;
        padding: 0 8px;
    }

    .el-collapse-item__content {
        padding-bottom: 0px
    }
</style>

<div id="app">

    <span class="layui-breadcrumb">
        <a href="/">首页</a>
        <a href="/demo/">系统管理</a>
        <a><cite>模块 - 用户/用户组</cite></a>
    </span>

    <div class="layui-fluid layui-card" style="margin-top:20px;">
        <div class="layui-row layui-col-space15">
            <el-collapse v-for="module in modules" :key="module.moduleId" :value="module.moduleId">
                <el-collapse-item class="top" :name="module.moduleId" style="border: 1px solid #DCDFE6">
                    <template slot="title">
                        {{module.moduleName}}(一级模块)
                        <div style="margin-left:8px">
                            <el-button type="primary" icon="el-icon-plus" circle size="mini" @@click="function(e){showGenerateLayer(module);e.cancelBubble = true;}"></el-button>
                        </div>
                    </template>
                    <blockquote class="layui-elem-quote">
                        <div>用户</div>
                        <div v-if="!module.listUser || module.listUser.length===0">无绑定用户。</div>
                        <el-row :gutter="10">
                            <el-col :sm="12" :md="8" :lg="6" :xl="4" v-for="user in module.listUser" :key="user.userId" style="margin-bottom:10px">
                                <el-tag style="height: auto;width: 100%;">
                                    <el-row>
                                        <el-col :span="23">
                                            <el-row>
                                                <el-col :span="4">账号:</el-col>
                                                <el-col :span="8">{{user.userAccount}}</el-col>
                                                <el-col :span="4">姓名:</el-col> 
                                                <el-col :span="8">{{user.userName}}</el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="4">权限:</el-col>
                                                <el-col v-if="user.permissionType&1" :span="6">【查询】</el-col>
                                                <el-col v-if="user.permissionType&2" :span="6">【新增】</el-col>
                                                <el-col v-if="user.permissionType&4" :span="6">【修改】</el-col>
                                                <el-col v-if="user.permissionType&8" :span="6">【删除】</el-col>
                                            </el-row>
                                        </el-col>
                                        <el-col :span="1">
                                            <i class="el-tag__close el-icon-close" @@click="removeItem(module.listUser, user)"></i>
                                        </el-col>
                                    </el-row>
                                </el-tag>
                            </el-col>
                        </el-row>
                    </blockquote>
                    <blockquote class="layui-elem-quote">
                        <div>用户组</div>
                        <div v-if="!module.listUserGroup || module.listUserGroup.length===0">无绑定用户组。</div>
                        <el-row :gutter="10">
                            <el-col :sm="12" :md="8" :lg="6" :xl="4" v-for="group in module.listUserGroup " :key="group.userGroupId" style="margin-bottom:10px">
                                <el-tag style="height: auto;width: 100%;">
                                    <el-row>
                                        <el-col :span="23">
                                            <el-row>
                                                <el-col :span="4">组名:</el-col>
                                                <el-col :span="8">{{group.userGroupName}}</el-col>
                                                <el-col :span="4">组级别:</el-col>
                                                <el-col :span="8">{{group.userGroupLevel}}</el-col>
                                            </el-row>
                                        </el-col>
                                        <el-col :span="1">
                                            <i class="el-tag__close el-icon-close" @@click="removeItem(module.listUserGroup, group)"></i>
                                        </el-col>
                                    </el-row>
                                </el-tag>
                            </el-col>
                        </el-row>
                    </blockquote>

                    <el-collapse v-for="module2 in module.listChildren" :key="module2.moduleId" :value="module2.moduleId">
                        <el-collapse-item class="middle" :name="module2.moduleId" style="border: 1px solid #DCDFE6">
                            <template slot="title">
                                {{module2.moduleName}}(二级模块)
                                <div style="margin-left:8px">
                                    <el-button type="primary" icon="el-icon-plus" circle size="mini" @@click="function(e){showGenerateLayer(module2);e.cancelBubble = true;}"></el-button>
                                </div>
                            </template>
                            <blockquote class="layui-elem-quote">
                                <div>用户</div>
                                <div v-if="!module2.listUser || module2.listUser.length===0">无绑定用户。</div>
                                <el-row :gutter="10">
                                    <el-col :sm="12" :md="8" :lg="6" :xl="4" v-for="user2 in module2.listUser" :key="user2.userId" style="margin-bottom:10px">
                                        <el-tag style="height: auto;width: 100%;">
                                            <el-row>
                                                <el-col :span="23">
                                                    <el-row>
                                                        <el-col :span="4">账号:</el-col>
                                                        <el-col :span="8">{{user2.userAccount}}</el-col>
                                                        <el-col :span="4">姓名:</el-col>
                                                        <el-col :span="8">{{user2.userName}}</el-col>
                                                    </el-row>
                                                    <el-row>
                                                        <el-col :span="4">权限:</el-col>
                                                        <el-col v-if="user2.permissionType&1" :span="6">【查询】</el-col>
                                                        <el-col v-if="user2.permissionType&2" :span="6">【新增】</el-col>
                                                        <el-col v-if="user2.permissionType&4" :span="6">【修改】</el-col>
                                                        <el-col v-if="user2.permissionType&8" :span="6">【删除】</el-col>
                                                    </el-row>
                                                </el-col>
                                                <el-col :span="1">
                                                    <i class="el-tag__close el-icon-close" @@click="removeItem(module2.listUser, user2)"></i>
                                                </el-col>
                                            </el-row>
                                        </el-tag>
                                    </el-col>
                                </el-row>
                            </blockquote>
                            <blockquote class="layui-elem-quote">
                                <div>用户组</div>
                                <div v-if="!module2.listUserGroup || module2.listUserGroup.length===0">无绑定用户组。</div>
                                <el-row :gutter="10">
                                    <el-col :sm="12" :md="8" :lg="6" :xl="4" v-for="group2 in module2.listUserGroup " :key="group2.userGroupId" style="margin-bottom:10px">
                                        <el-tag style="height: auto;width: 100%;">
                                            <el-row>
                                                <el-col :span="23">
                                                    <el-row>
                                                        <el-col :span="4">组名:</el-col>
                                                        <el-col :span="8">{{group2.userGroupName}}</el-col>
                                                        <el-col :span="4">组级别:</el-col>
                                                        <el-col :span="8">{{group2.userGroupLevel}}</el-col>
                                                    </el-row>
                                                </el-col>
                                                <el-col :span="1">
                                                    <i class="el-tag__close el-icon-close" @@click="removeItem(module2.listUserGroup, group2)"></i>
                                                </el-col>
                                            </el-row>
                                        </el-tag>
                                    </el-col>
                                </el-row>
                            </blockquote>

                            <el-collapse v-for="module3 in module2.listChildren" :key="module3.moduleId" :value="module3.moduleId">
                                <el-collapse-item class="bottom" :name="module3.moduleId" style="border: 1px solid #DCDFE6">
                                    <template slot="title">
                                        {{module3.moduleName}}(三级模块)
                                        <div style="margin-left:8px">
                                            <el-button type="primary" icon="el-icon-plus" circle size="mini" @@click="function(e){showGenerateLayer(module3);e.cancelBubble = true;}"></el-button>
                                        </div>
                                    </template>
                                    <blockquote class="layui-elem-quote">
                                        <div>用户</div>
                                        <div v-if="!module3.listUser || module3.listUser.length===0">无绑定用户。</div>
                                        <el-row :gutter="10">
                                            <el-col :sm="12" :md="8" :lg="6" :xl="4" v-for="user3 in module3.listUser" :key="user3.userId" style="margin-bottom:10px">
                                                <el-tag style="height: auto;width: 100%;">
                                                    <el-row>
                                                        <el-col :span="23">
                                                            <el-row>
                                                                <el-col :span="4">账号:</el-col>
                                                                <el-col :span="8">{{user3.userAccount}}</el-col>
                                                                <el-col :span="4">姓名:</el-col>
                                                                <el-col :span="8">{{user3.userName}}</el-col>
                                                            </el-row>
                                                            <el-row>
                                                                <el-col :span="4">权限:</el-col>
                                                                <el-col v-if="user3.permissionType&1" :span="6">【查询】</el-col>
                                                                <el-col v-if="user3.permissionType&2" :span="6">【新增】</el-col>
                                                                <el-col v-if="user3.permissionType&4" :span="6">【修改】</el-col>
                                                                <el-col v-if="user3.permissionType&8" :span="6">【删除】</el-col>
                                                            </el-row>
                                                        </el-col>
                                                        <el-col :span="1">
                                                            <i class="el-tag__close el-icon-close" @@click="removeItem(module3.listUser, user3)"></i>
                                                        </el-col>
                                                    </el-row>
                                                </el-tag>
                                            </el-col>
                                        </el-row>
                                    </blockquote>
                                    <blockquote class="layui-elem-quote">
                                        <div>用户组</div>
                                        <div v-if="!module3.listUserGroup || module3.listUserGroup.length===0">无绑定用户组。</div>
                                        <el-row :gutter="10">
                                            <el-col :sm="12" :md="8" :lg="6" :xl="4" v-for="group3 in module3.listUserGroup " :key="group3.userGroupId" style="margin-bottom:10px">
                                                <el-tag style="height: auto;width: 100%;">
                                                    <el-row>
                                                        <el-col :span="23">
                                                            <el-row>
                                                                <el-col :span="4">组名:</el-col>
                                                                <el-col :span="8">{{group3.userGroupName}}</el-col>
                                                                <el-col :span="4">组级别:</el-col>
                                                                <el-col :span="8">{{group3.userGroupLevel}}</el-col>
                                                            </el-row>
                                                        </el-col>
                                                        <el-col :span="1">
                                                            <i class="el-tag__close el-icon-close" @@click="removeItem(module3.listUserGroup, group3)"></i>
                                                        </el-col>
                                                    </el-row>
                                                </el-tag>
                                            </el-col>
                                        </el-row>
                                    </blockquote>
                                </el-collapse-item>
                            </el-collapse>

                        </el-collapse-item>
                    </el-collapse>

                </el-collapse-item>
            </el-collapse>
        </div>
    </div>
    <div id="generate_layer" style="display:none; padding:40px;">
        <div class="layui-form layui-form-pane" action="" lay-filter="generate-form">
            <blockquote class="layui-elem-quote">
                <el-collapse value="unbindUsers">
                    <el-collapse-item class="top" name="unbindUsers" style="border: 1px solid #DCDFE6;">
                        <template slot="title">用户</template>
                        <el-row :gutter="10" style="padding:8px">
                            <el-col :sm="13" :md="9" :lg="8" :xl="8" v-for="user in unbindUsers" :key="user.userId" style="margin-bottom:10px">
                                <el-tag style="height: auto;width: 100%;">
                                    <el-row>
                                        <el-col :span="2">
                                            <el-checkbox v-model="user.checked"></el-checkbox>
                                        </el-col>
                                        <el-col :span="22"> 
                                            <el-row>
                                                <el-col :span="4">账号:</el-col>
                                                <el-col :span="20">{{user.userAccount}}</el-col>
                                                
                                            </el-row>
                                            <el-row>
                                                <el-col :span="4">姓名:</el-col>
                                                <el-col :span="20">{{user.userName}}</el-col>
                                            </el-row>
                                        </el-col>
                                    </el-row>
                                </el-tag>
                            </el-col>
                        </el-row>
                    </el-collapse-item>
                </el-collapse>
            </blockquote>
            <blockquote class="layui-elem-quote" style="margin-top: 35px">
                <el-collapse value="unbindUserGroups">
                    <el-collapse-item class="top" name="unbindUserGroups" style="border: 1px solid #DCDFE6;">
                        <template slot="title">用户组</template>
                        <el-row :gutter="10" style="padding:8px">
                            <el-col :sm="13" :md="9" :lg="8" :xl="8" v-for="group in unbindUsersGroups" :key="group.userGroupId" style="margin-bottom:10px">
                                <el-tag style="height: auto;width: 100%;">
                                    <el-row>
                                        <el-col :span="2">
                                            <el-checkbox v-model="group.checked"></el-checkbox>
                                        </el-col>
                                        <el-col :span="22">
                                            <el-row>
                                                <el-col :span="4">组名:</el-col>
                                                <el-col :span="20">{{group.userGroupName}}</el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="4">级别:</el-col>
                                                <el-col :span="20">{{group.userGroupLevel}}</el-col>
                                            </el-row>
                                        </el-col>
                                    </el-row>
                                </el-tag>
                            </el-col>
                        </el-row>
                    </el-collapse-item>
                </el-collapse>
            </blockquote>
        </div>
    </div>
    <div id="permission_layer" style="display:none; padding:40px; ">
        <div class="layui-form layui-form-pane" action="" lay-filter="generate-form">
            <el-checkbox-group v-model="permissionList">
                <el-checkbox label="1" border disabled>查看</el-checkbox>
                <el-checkbox label="2" border>增加</el-checkbox>
                <el-checkbox label="4" border>修改</el-checkbox>
                <el-checkbox label="8" border>删除</el-checkbox>
            </el-checkbox-group>
        </div>
    </div>
</div>



<script>
    layui.use(['table', 'element', 'layer', 'form', 'laydate'], function () {
        var layer = layui.layer;
        var table = layui.table
        var generateLayer_index = 0;
        var permissionLayer_index = 0
        var layType = true;//true 新增  false 编辑
        var user_id = 0;
        var $ = layui.$, active = {};

        var selectedModule = {}

        new Vue({
            el: '#app',
            data: function () {
                return {
                    modules: [],
                    unbindUsers: [],
                    unbindUsersGroups: [],
                    permissionList: []
                }
            },
            methods: {
                fetchList: function () {
                    var vm = this
                    axios.get('/api/SysModuleUserRelationData')
                        .then(function (response) {
                            vm.modules = response.data.content
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                },
                showGenerateLayer: function (module) {
                    var vm = this
                    axios.get('/api/SysModuleUserRelationData/NotBindUsers/' + module.moduleId)
                        .then(function (response) {
                            vm.unbindUsers = response.data.content.users
                            vm.unbindUsersGroups = response.data.content.userGroups
                            //response.data.content.forEach(function (user) { user["checked"] = false })
                            //vm.users = response.data.content
                            selectedModule = module
                            generateLayer_index = layer.open({
                                type: 1
                                , title: "新增绑定 - " + module.moduleName //不显示标题栏
                                , closeBtn: false
                                , shade: 0.8
                                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                                , area: ['900px', '500px']
                                , content: $('#generate_layer') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                , btn: ['添加绑定', '取消']
                                , yes: function (index, layero) {
                                    vm.permissionList = ['1']
                                    permissionLayer_index = layer.open({
                                        type: 1
                                        , title: "权限选择 - " + module.moduleName //不显示标题栏
                                        , closeBtn: false
                                        , shade: 0.8
                                        , id: 'permissionLayer' //设定一个id，防止重复弹出
                                        , area: ['600px',]
                                        , content: $('#permission_layer') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                                        , btn: ['确定', '取消']
                                        , yes: function (index, layero) {
                                            vm.addBinds()
                                        }
                                        , btn2: function (index, layero) {
                                            vm.closePermissionLayer()
                                        }
                                    });
                                }
                                , btn2: function (index, layero) {
                                    vm.closeGenerateLayer()
                                }
                            });
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                closeGenerateLayer: function () {
                    layer.close(generateLayer_index);
                },
                closePermissionLayer: function () {
                    layer.close(permissionLayer_index);
                },
                addBinds: function () {
                    var vm = this
                    // 获取权限
                    var permission = vm.permissionList.reduce(function (sum, item) { return parseInt(sum) + parseInt(item) }, 0)
                    // 组装新增绑定数据
                    var data = []
                    vm.unbindUsers.forEach(function (item) {
                        if (item.checked) {
                            data.push({
                                userId: item.userId,
                                moduleId: selectedModule.moduleId,
                                permissionType: permission,
                            })
                        }
                    })
                    vm.unbindUsersGroups.forEach(function (item) {
                        if (item.checked) {
                            data.push({
                                userGroupId: item.userGroupId,
                                moduleId: selectedModule.moduleId,
                                permissionType: permission,
                            })
                        }
                    })
                    axios.post('/api/SysModuleUserRelationData/AddOrUpdate', data)
                        .then(function (response) {
                            vm.$notify({ title: '成功', message: '添加成功', type: 'success' })
                            vm.closePermissionLayer()
                            vm.closeGenerateLayer()
                            vm.fetchList()
                        })
                        .catch(function (error) {
                            vm.$notify({ title: '失败', message: '添加失败', type: 'error' })
                            vm.fetchList()
                            console.log(error);
                        });
                },
                removeItem: function (list, item) {
                    var vm = this
                    var relationId = item.relationId
                    list.splice(list.indexOf(item), 1);
                    axios.delete('/api/SysModuleUserRelationData/' + relationId)
                        .then(function (response) {
                            vm.$notify({ title: '成功', message: '移除成功', type: 'success' })
                        })
                        .catch(function (error) {
                            vm.$notify({ title: '失败', message: '移除失败', type: 'error' })
                            vm.fetchList()
                            console.log(error);
                        });
                }
            },
            mounted: function () {
                var vm = this
                vm.fetchList()
            }
        })
    });

</script>